<footer class="global-site-footer">
  <div class="page-content-width-constrained-container global-site-footer-layout">
    <div class="global-site-footer-brand">
      <img src="{{ '/assets/images/brand/logo.png' | relative_url }}" alt="BlackBox Records">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="global-site-footer-column">
      <h3>Sitemap</h3>
      <ul>
        {% for item in site.data.nav.items %}
        <li>
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="global-site-footer-column">
      <h3>Connect</h3>
      <ul>
        {% for item in site.data.socials.items %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% assign current_year = site.time | date: '%Y' | plus: 0 %}
  {% assign brand_name = site.title | default: 'BlackBox Records' %}
  {% assign established_year = site.data.settings.established_year | plus: 0 %}

  {% if established_year > 0 and established_year < current_year %}
    {% assign copyright_years = established_year | append: '&ndash;' | append: current_year %}
  {% else %}
    {% assign copyright_years = current_year %}
  {% endif %}
  <div class="global-site-footer-bottom page-content-width-constrained-container">
    <p>&copy; {{ copyright_years }} {{ brand_name }}. <span
      class="global-site-footer-legal-text">All rights reserved.</span></p>
    {% if established_year > 0 and established_year <= current_year %}
    <p>Est. {{ established_year }}</p>
    {% endif %}
  </div>
</footer>
