<footer class="site-footer">
  <div class="site-container site-footer__inner">
    <div class="site-footer__brand">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="BlackBox Records">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div class="site-footer__column">
      <h3>Sitemap</h3>
      <ul>
        {% for item in site.data.nav.items %}
        <li>
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="site-footer__column">
      <h3>Connect</h3>
      <ul>
        {% for item in site.data.socials.items %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="site-footer__bottom site-container">
    <p>&copy; {{ 'now' | date: '%Y' }} BlackBox Records. All rights reserved.</p>
    <p>EST. MMXXIV</p>
  </div>
</footer>
