<div class="music-streaming-service-embedded-player-provider-switcher" data-music-streaming-service-embedded-player-switcher hidden>
  <button class="music-streaming-service-embedded-player-provider-button music-streaming-service-embedded-player-provider-button--has-logo" type="button" data-music-streaming-service-embedded-player-provider="bandcamp" aria-label="Bandcamp">
    <img class="music-streaming-service-embedded-player-provider-button-logo" src="{{ "/assets/images/brand/bandcamp-button-black.png" | relative_url }}" alt="" aria-hidden="true" />
    <span class="accessibility-visually-hidden-text">Bandcamp</span>
  </button>
  <button class="music-streaming-service-embedded-player-provider-button music-streaming-service-embedded-player-provider-button--has-logo" type="button" data-music-streaming-service-embedded-player-provider="tidal" aria-label="Tidal">
    <img class="music-streaming-service-embedded-player-provider-button-logo" src="{{ "/assets/images/brand/tidal-button-black.png" | relative_url }}" alt="" aria-hidden="true" />
    <span class="accessibility-visually-hidden-text">Tidal</span>
  </button>
</div>
