{% assign release_item = include.release %}
{% capture tidal_embed_url %}{% include tidal-embed-url.html release=release_item %}{% endcapture %}
{% assign tidal_embed_url = tidal_embed_url | strip %}
{% assign embedded_player_url = release_item.bandcamp_embed_url | default: tidal_embed_url %}
{% if embedded_player_url %}
data-music-streaming-service-embedded-player-card
{% if include.title %}data-music-streaming-service-embedded-player-title="{{ include.title | escape }}"{% endif %}
{% if release_item.bandcamp_embed_url %}data-music-streaming-service-embedded-player-bandcamp-embed-url="{{ release_item.bandcamp_embed_url }}"{% endif %}
{% if tidal_embed_url %}data-music-streaming-service-embedded-player-tidal-embed-url="{{ tidal_embed_url }}"{% endif %}
{% endif %}
