<ul class="global-site-navigation__list">
  {% for item in include.items %}
    {% assign nav_url = item.url %}
    {% assign nav_is_active = false %}
    {% if nav_url == '/' %}
      {% if page.url == '/' or page.url == '/index.html' %}
        {% assign nav_is_active = true %}
      {% endif %}
    {% elsif page.url contains nav_url %}
      {% assign nav_is_active = true %}
    {% endif %}
    <li>
      <a class="global-site-navigation__link{% if nav_url == '/' %} global-site-navigation__link--home{% endif %}{% if nav_is_active %} is-current-page{% endif %}"
         href="{{ nav_url | relative_url }}"
         {% if nav_is_active %}aria-current="page"{% endif %}>
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
</ul>
