.page-content-width-constrained-container {
  max-width: var(--layout-content-container-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-content-horizontal-gutter);
}

.page-main-content-region {
  padding-top: var(--layout-header-height-standard);
}

.page-main-content-region--home {
  padding-top: 0;
}
