<!doctype html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body
{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
<a class="accessibility-skip-to-content-link" href="#main">Skip to content</a>
{% include header.html %}
<main class="page-main-content-region{% if page.main_class %} {{ page.main_class }}{% endif %}" id="main">
  {{ content }}
</main>
{% include music-streaming-service-embedded-player-modal.html %}
{% include footer.html %}
<script defer src="{{ '/assets/js/site-interactions.js' | relative_url }}"></script>
</body>
</html>
